@charset "utf-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 뷰포트 내 마음 속의 기준값 : 1440x800 */
/* 가상클래스 root 사용 : 유지 보수에 용이하다 */
:root {
    --text-color: #434343;
    --background-color: #03318C;
    --accent-color: #21038B;
    --h-color: #f0f4f5;
}
body {
    font-family: 'GmarketSansMedium','Noto Sans KR',sans-serif;
    color: var(--text-color);
    letter-spacing: -1px;
}
#wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.h120 {
    height: 120px;
}
/* 1. Header */
header {
    width: 100%;
    height: 90px;
    line-height: 90px;
    /* height: 10vh; */
    /* line-height: 10vh; */
    background-color: var(--background-color);
    color: var(--h-color);
    padding: 0 5%;
    /* 플렉스 */
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* 포지션 */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
/* LOGO */
h1 {
    display: flex;
}
h1>a {
    font-size: 36px;
    /* font-size: 4.5vh; */
    margin-right: 16px;
}
h1>p {
    font-size: 24px;
    /* font-size: 3vh; */
}

/* GNB */
#gnb ul {
    /* 플렉스 */
    display: flex;
    text-align: center;
}
#gnb ul li {
    padding: 0 12px;
    font-size: 21px;
    display: inline-block;
    position: relative;
}
#gnb ul li a:after {
    position: absolute; 
    content:""; 
    display: block; 
    border-bottom: 4px solid #f0f4f5; 
    transition: all 300ms ease-out; 
    left: 50%; 
    top: 60px;
    width: 0;
}
#gnb ul li a:hover:after{
    transition: all 300ms ease-out; 
    left: 0%; 
    width: 100%;
}


/* Hamburger Menu */
.ham {
    /* 포지션 : 위치기준값 없으면 body에 relative됨 */
    position: absolute;
    right: 32px;
    top: 0;
    z-index: 99;
    font-size: 24px;
    /* font-size: 3vh; */
    /* 공통 영역에서 안 보이도록 */
    display: none;
}

/* 2. Section */
section {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}
section h2 {
    font-size: 40px;
    margin-bottom: 40px;
}
/* 2-1. HOME */
.home {
    width: 1440px;
    height: 800px;
    margin-top: 40px;
}
.homeIcon {
    width: 220px;
    margin-bottom: 60px;
}
.am_iconhomeIcon img {
    width: 100%;
}
.homeText h2,
.homeText p {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    margin-bottom: 8px;
}
.arrowDown {
    display: block;
    position: relative;
    margin-left: 50%;
    margin-top: 200px;
}
.arrowDown i {
    font-size: 60px;
    color: #64598b;
}
/* 2-2. ABOUT ME */
.aboutme {
    margin-top: 190px;
    width: 100%;
    height: 100%;
}
.amContents {
    /* 플렉스 */
    display: flex;
    justify-content: space-between;
}
.amContents h3 {
    font-size: 36px;
    margin-bottom: 24px;
    color: var(--accent-color);
}
.amIcon {
    margin-bottom: 30px;
}
.amIcon img {
    width: 220px;
}
.amText {
    width: 680px;
    margin-left: 20px;

}
.amText h2 {
    font-size: 42px;
    margin-bottom: 34px;
}
.amText p {
    font-size: 24px;
    margin-bottom: 20px;
}
.amCareer {
    width: 680px;
    margin-left: 20px;
}
.amCareer li {
    font-size: 24px;
    margin-bottom: 20px;
}
.amCareer li>ul>li {
    font-size: 20px;
    margin-top: 12px;
}
/* 2-3. SKILLS */
.skills { 
    margin-top: 190px;
    width: 100%;
    height: 100%;
}
.skWeb {
    margin-bottom: 32px;
}
.webLeft {
    width: 720px;
    /* 플롯 */
    float: left;
}
.webRight {
    width: 720px;
    /* 플롯 */
    float: right;
}
.skWeb img {
    width: 100px;
    height: 100px;
}
.skWeb h3 {
    font-size: 40px;
    margin-bottom: 12px;
}
.skWeb p {
    font-size: 24px;
    margin-bottom: 20px;
}
.skWeb .html5,
.skWeb .css3,
.skWeb .js {
    /* 플렉스 */
    display: flex;
    margin-bottom: 80px;
}
.skWeb .html5>div,
.skWeb .css3>div,    
.skWeb .js>div { 
    margin-left: 32px;
}
.skWeb .js p a {
    color: var(--accent-color);
}
.skWeb .js .vue {
    margin-top: 100px;
}
.skTools {
    height: 872px;
    margin: 0 160px;
}
.skTools p {
    font-size: 24px;
    margin-bottom: 20px;
}
.sk_design {
    margin-bottom: 70px;
}
.sk_design img {
    margin-right: 20px;
    margin-bottom: 36px;
}
.sk_ms img {
    margin-right: 20px;
    margin-bottom: 36px;
}
/* 막대그래프 */
.skillBar {
    color: var(--h-color);
    font-size: 18px;
    line-height: 32px;
    height: 32px;
    margin-bottom: 16px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 2px;
}
.skillBar * {
    transition: all 0.5s ease;
}

.skillBar div {
    background-color: #B9FF38;
    position: relative;
    padding-left: 25px;
    width: 0;
    border-radius: 2px;
}
.skillBar span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 5px 0 10px;
    background-color: #371F8C;
    border-radius: 0 2px 2px 0;
}
.skillBar span::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: -8px;
    margin-top: -3px;
    background-color: #371F8C;
    transform: rotate(45deg) translateY(-6px);
}
/* 2-4. PORTFOLIO */
.portfolio {
    width: 100%;
    height: 100%;
}
.publising,
.design {
    width: 100%;
    height: 100%;
}
.publising h2,
.design h2 {
    height: 64px;
    line-height: 64px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #000;
    margin-bottom: 42px;
}
.mockupimg {
    width: 700px;
    height: 440px;
    /* 플롯 */
    float: left;
    margin-right: 10px;
    margin-bottom: 160px;
}
.mockupimg img {
    width: 100%;
}
.info {
    width: 700px;
    height: 440px;
    /* 플롯 */
    float: right;
    padding: 80px 0 0 100px;
    margin-bottom: 160px;
}
.info h3 {
    font-size: 40px;
    margin-bottom: 12px;
}
.info p:nth-child(2) {
    font-size: 24px;
    margin-bottom: 32px;
    margin-left: 8px;
}
.info p:nth-child(3) {
    font-size: 18px;
    margin-bottom: 54px;
    margin-left: 8px;
}
.info .btn .proposal a,
.info .btn .direct a {
    display: block;
    width: 170px;
    height: 52px;
    line-height: 48px;
    text-align: center;
    border: 4px solid var(--accent-color);
    border-radius: 40px;
    font-size: 18px;
    /* 플롯 */
    float: left;
    margin-right: 44px;
}
.info .btn .proposal a:hover,
.info .btn .direct a:hover {
    background-color: var(--accent-color);
    color: var(--h-color);
    transition: all 0.3s;
}
.renewalMac .info .btn{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
/* 2-5. CONTACT */
.contact {
    width: 100%;
    height: 100%;
}
.ctImg {
    width: 720px;
    /* 플롯 */
    float: left;
    padding-left: 300px;
}
.ctInfo {
    margin-top: 60px;
    width: 720px;
    /* 플롯 */
    float: right;
}
.ctInfo h2 {
    font-size: 40px;
    margin-bottom: 24px;
}
.ctInfo h2>span {
    font-size: 32px;
}
.ctInfo p {
    font-size: 24px;
    margin-bottom: 36px;
}
.ctIcon>li {
    width: 120px;
    /* 플롯 */
    float: left;
    text-align: center;
}
.ctIcon>li>p {
    font-size: 16px;
    margin-top: 4px;
}
/* 2-6. Outro */
.outro {
    width: 100%;
    height: 100%;
    text-align: center;
}
.outroText {
    width: 900px;
    height: 300px;
    margin: 300px auto;
}
.outroText p {
    font-size: 52px;
    color: #000;
}
.outroText p:last-child {
    margin: 20px 0;
}
/* 3. Footer */
.footer {
    margin-top: 90px;
    width: 100%;
    height: 60px;
    background-color: #434343;
}
.footer p {
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: var(--h-color);
}

/* GO TO TOP BUTTON */
aside div {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: var(--background-color);
    text-align: center;
    border-radius: 30px;
    /* 포지션 */
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    /*로딩 시 안 보이도록 코딩 */
    display: none;
}
aside div a {
    display: inline-block;
    font-weight: bold;
    color: var(--h-color);
}



/* 태블릿용 미디어쿼리 768px 이하 */
@media screen and (max-width:768px){
    header {
        padding: 0;
        /* 플렉스 */
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        width: 100%;
    }
    /* LOGO */
    h1 {
        padding-left: 32px;
    }
    /* GNB */
    #gnb {
        width: 100%;
    }
    #gnb ul {
        /* 플렉스 */
        display: flex;
        flex-direction: column;
        display: none;
    }
    #gnb ul li {
        width: 100%;
        padding: 0;
    }
    /* Hamburger Menu */
    .ham {
        display: block;
    }

    /* 스크립트 CSS */
    #gnb.active ul {
        /* display: none;의 반대 */
        display: flex;
    }
}